.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fieldSeparate {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.number {
    font-size: 17px;
    font-weight: bold;
}

.inputCorrection {
    border-radius: 4px;
    width: 100px;
    text-align: center;
}

.redBackground {
    background-color: palevioletred;
}
