.number {
    font-size: 65px;
    font-weight: bold;
}

.redNumber {
    font-size: 65px;
    font-weight: bold;
    color: red;
}

.setMessage {
    font-size: 17px;
    font-weight: bold;
}

.setMessageRed {
    font-size: 17px;
    font-weight: bold;
    color: red;
}